.container{
    width: 400px;
}
h1 {
    text-align: center;
    padding: 23px;
    background-color: skyblue;
    color: white;
}

#equals {
    width: 390px;
    border: 3px solid gray;
    border-radius: 3px;
    padding: 20px;
    background-color: skyblue;
}


input[type="button"] {
    width: 20px;
    background-color: rgb(26, 35, 39);
    color: white;
    border: 3px solid gray;
    border-radius: 5px;
    padding: 42px;
    margin: 5px;
    font-size: 15px;
}
input[type="number"]{
    width: 390px;
    border: 3px solid gray;
    padding: 26px 2px;
}
